{% set title = 'Privacy notice - Find your NHS number' %}
{% set content_title = "Privacy notice" %}
{% set PROTOTYPE_URL = 'v1' %}
{% set ANALYTICS_TRUE = 'True' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find your NHS number
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <h1>{{content_title}}</h1>
              <h2 class="h3">Find your NHS number privacy notice</h2>
              <p>
                The 'Find your NHS number' service allows you to find your NHS number.
              </p>
              <p>
                This page specifically sets-out what we collect and how we use your personal data to provide this service, including your rights and how to contact us.
              </p>
              <h3 class="h4">Policy and Exemptions</h3>
              <p>
                For detailed policy guidance, exemptions and information on the phased implementation of the national data opt-out across health and care, <a target="_blank" href="https://digital.nhs.uk/">visit NHS Digital <span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>.
              </p>
              <h2 class="h3">What information do we collect about you?</h2>
              <p>
                When you use the "Find your NHS number", we collect the following information:
              </p>
              <ul>
                <li>
                  To use the online service we will need to verify your identity - we will match this to information we already hold on our system.
                  <ul>
                    <li>
                      Online we ask for your name, gender, date of birth and postcode.
                    </li>
                  </ul>
                </li>
                <li>
                  We record and store audit data for each transaction including:
                  <ul>
                    <li>
                      the date and time the transaction occurred
                    </li>
                  </ul>
                </li>
                <li>
                  Your internet protocol (IP) address - a unique identifier for your computer or other access device - is stored to help us monitor and protect the service from malicious use.
                </li>
              </ul>
              <p>
                We also collect and retain some management information about the performance of the service itself, including:
              </p>
              <ul>
                <li>
                  transaction completion rates
                </li>
                <li>
                  if the transaction fails
                </li>
                <li>
                  where failure occurs and why (for example, unable to verify identity)
                </li>
                <li>
                  time taken to process
                </li>
                <li>
                  system availability
                </li>
              </ul>
              <p>
                This information does not identify you personally and is used to monitor and improve the service provided.
              </p>
              <p>
                You may be invited to provide feedback on the service. You can decide if you want to participate, this does not identify you personally and is only used to improve the service provided.
              </p>
              <h2 class="h3">Where your data is stored</h2>
              <p>
                We store your data on secure cloud servers in the <a target="_blank" href="https://www.gov.uk/eu-eea">European Economic Area (EEA) <span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>.
              </p>
              <h2 class="h3">What is our legal basis for processing this data?</h2>
              <p>
                NHS Digital has been instructed by the Department of Health and Social Care. You can choose whether you want to use this service and can change your mind at any time.
              </p>
              <h2 class="h3">How long will we keep this information?</h2>
              <p>
                We will continue to run this service until instructed to stop by the Department of Health and Social Care.
              </p>
              <h2 class="h3">How you can access your data?</h2>
              <p>
                This can be done through <a href="/{{PROTOTYPE_URL}}/find-your-nhs-number">the online service</a>. You will need to verify your identity every time you want to access this service.
              </p>
              <h2 class="h3">Who do we share your data with?</h2>
              <p>
                No one.
              </p>
              <h2 class="h3">How to contact us</h2>
              <p>
                Please contact us if you have any questions about the information provided above or about the data we hold on you:
              </p>
              <ul class="link-list">
                <li>
                  By phone:	0300 303 5678
                </li>
                <li>
                  By email:	<a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a>
                </li>
                <li>
                  By post:	NHS Digital, 1 Trevelyan Square, Boar Lane, Leeds LS1 6AE
                </li>
              </ul>
              <p>
                Please use the same details if you want to contact our data protection officer.
              </p>
              <h2 class="h3">What to do if you wish to lodge a complaint?</h2>
              <p>
                If you wish to lodge a complaint with the supervisory authority about how we are using or managing your data then the relevant body to contact is the Information Commissioner's Office, Wycliffe House Water Lane, Wilmslow SK9 5AF
                <a target="_blank" href="https://ico.org.uk/"> www.ico.org.uk <span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>
              </p>
            </div>
          </div>
        </div>
      </div>

  </div>

</main>
{% endblock %}
