{% set title = 'Cookie notice' %}
{% set PROTOTYPE_URL = 'cookie' %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="/">Index</a></li>
      <li>{{title}}</li>
    </ol>
  </nav>

    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <p>May 2018</p>
        </div>
      </div>
    </div>

    <p>This Prototype was created to explore cookie notifications post-GDPR.</p>

    <a role="button" class="button" href="/{{PROTOTYPE_URL}}/v1">Notification with dropdown and button </a>
    <a role="button" class="button" href="/{{PROTOTYPE_URL}}/v2">Notification with checkboxes</a>
    <hr>
  </div>
</main>
{% endblock %}
