{% set title = 'Cookie notice' %}
{% set PROTOTYPE_URL = 'cookie' %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="/">Index</a></li>
      <li>{{title}}</li>
    </ol>
  </nav>

    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <p>May 2018</p>
        </div>
      </div>
    </div>

    <p>This Prototype was created to explore cookie notifications post-GDPR.</p>

    <h2>STABLE</h2>
    <h3>Clear language - Checkboxes and explicit consent</h3>
    <p>
      Provide users with a notification at the top of the screen which provides them with a choice of what they can opt-in to.
    </p>
    <p>
      <a role="button" class="button" href="/{{PROTOTYPE_URL}}/v7">Notification with checkboxes</a>
    </p>

    <div class="callout callout--error">
      <h2>Additional concepts</h2>
      <h3>Clear language - Checkboxes and explicit consent</h3>
      <p>
        Provide users with a notification at the top of the screen which provides them with a choice of what they can opt-in to.
      </p>
      <p>
        Reduced number of options.
      </p>
      <p>
        <a role="button" class="button" href="/{{PROTOTYPE_URL}}/v8">Notification with checkboxes</a>
      </p>

      <h3>EXPERIMENTAL Just in time consent - Checkbox for what we need right now.</h3>
      <p>
        This prototype explores "just in time" consent. Leveraging implicit consent but asking for more explicit consent just for advertising campaigns
      </p>
      <p>
        <a role="button" class="button" href="/{{PROTOTYPE_URL}}/v6">Just in time notification with checkbox, nothing other than implicit</a>
      </p>
      <p>
        <a role="button" class="button" href="/{{PROTOTYPE_URL}}/v5">Just in time notification with checkbox, needing campaign cookies</a>
      </p>
    </div>

    <div class="callout callout--error">
      <h2>Previous</h2>
      <h3>Clear language - Checkboxes and explicit consent</h3>
      <p>
        Provide users with a notification at the top of the screen which provides them with a choice of what they can opt-in to.
      </p>
      <p>
        <a role="button" class="button" href="/{{PROTOTYPE_URL}}/v4">Notification with checkboxes</a>
      </p>

      <h3>Explicit consent via button</h3>
      <p>
        Provide users with a notification at the top of the screen which provides them with two options. All in, or just the required cookies to run the service.
      </p>
      <p>
        <a role="button" class="button" href="/{{PROTOTYPE_URL}}/v1">Notification with dropdown and button </a>
      </p>
      <h3>Checkboxes and explicit consent</h3>
      <p>
        Provide users with a notification at the top of the screen which provides them with a choice of what they can opt-in to.
      </p>
      <p>
        <a role="button" class="button" href="/{{PROTOTYPE_URL}}/v2">Notification with checkboxes</a>
      </p>

      <h3>Checkboxes all pre-checked</h3>
      <p>
        Provide users with a notification at the top of the screen which provides them with a choice of what they can opt-out from.
      </p>
      <p>
        All options pre-checked.
      </p>
      <p>
        <a role="button" class="button" href="/{{PROTOTYPE_URL}}/v3">Notification with checkboxes</a>
      </p>
    </div>



    <hr>
  </div>
</main>
{% endblock %}
