{% set title = 'How to use the online service - Find your NHS Number' %}
{% set content_title = 'How to find your NHS number online' %}
{% set PROTOTYPE_URL = 'v1' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find your NHS Number
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--full">
              <div class="callout callout--interruption alt">
                <h1>{{content_title}}</h1>
                <p>
                  For security reasons we must verify who you are before we can give you your NHS number. We will do this by searching for your contact details in our database and then sending you a security code.
                </p>

                <ol>
                  <li>
                    <h2>Enter your details</h2>
                    <p>
                      Tell us your name, gender, date of birth and postcode. We can then find your contact information in our patient database.
                    </p>
                  </li>
                  <li>
                    <h2>Get a security code</h2>
                    <p>
                      Using the contact details we hold in our database, we will send you a one-time verification code.
                    </p>
                  </li>
                  <li>
                    <h2>Receive your NHS number</h2>
                    <p>
                      When your code is verified, you will then be shown your NHS number.
                    </p>
                  </li>
                </ol>
              </div>
              <p>
                You agree to let us search for your details in our database, so that we can send you a one-time security passcode
              </p>
               <p>
                 <a href="/{{PROTOTYPE_URL}}/app/01-your-name" class="button" role="button">Agree and continue</a>
               </p>

            </div>

            <div class="column--three-quarters">

            </div>

          </div>
        </div>
      </div>



  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--three-quarters">
          {{ patterns.page_nav( "Before you start", "/" + PROTOTYPE_URL + "/find-your-nhs-number#before-you-start", "", "" ) }}
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
