{% set title = 'Your gender - Find your NHS number' %}
{% set content_title = 'Your gender' %}
{% set PROTOTYPE_URL = 'v1' %}
{% set ANALYTICS_TRUE = 'True' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/change/02-your-gender.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find your NHS number
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">

              <div class="reading-width">
                <div class="error error-summary callout callout--error error-message" role="alert" tabindex="-1">
                  <h2 class="h3" id="error-summary">To use this online service, resolve the following errors</h2>
                  <ul class="link-list" id="link-to-errors">
                  </ul>
                </div>

                  <form method="post" action="javascript:submit()">
                      <div class="grid-row">
                        <div class="column--two-thirds">
                          <fieldset id="gender" class="form-group form-row util-no-margin">
                            <legend>
                              <h1 >{{content_title}}</h1>
                            </legend>

                            <div class="error error-message">
                              <p class="error-text error-label">Indicate your choice to continue</p>
                            </div>

                            <input type="radio" name="gender" id="female" value="female" class="multiple-choice--radio">
                            <label for="female" class="form-label form-label--radio multiple-choice--radio lg"> Female
                            </label>

                            <input type="radio" name="gender" id="male" value="male" class="">
                            <label for="male" class="form-label form-label--radio multiple-choice--radio lg"> Male
                            </label>

                            <input type="radio" name="gender" id="non-binary" value="non-binary" class="">
                            <label for="non-binary" class="form-label form-label--radio multiple-choice--radio lg"> Non-binary
                            </label>

                          </fieldset>
                        </div>
                      </div>

                      <input type="submit" class="button" id="submit-details" value="Continue">
                  </form>

                  <details class="" role="group">
                    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                      <span class="details__summary">Why do we ask for your gender?</span>
                    </summary>
                    <div class="details__content" id="details-content-0" aria-hidden="true">
                      <div class="reading-width">
                        <p>
                          In order to find your details in our database we need you to provide the same information a clinician would search for you. This includes gender.
                        </p>
                      </div>
                    </div>
                  </details>
              </div>
            </div>
          </div>
      </div>
  </div>

</main>
{% endblock %}
